<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>David Pérez S.</mat-card-title>
        <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
    </mat-card-header>
    <a href="https://www.linkedin.com/in/david-perez-s" target="_blank" rel="author">
        <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/hosting-personal-5fb40.appspot.com/o/personal%2Fqr-linkedin-profile.png?alt=media&token=8a7d134b-07db-481a-a7bf-421a86fa2ec8" alt="QR code of my personal LinkedIn profile">
    </a>
    <mat-card-content>
        <p>
            A faster way to go to my <strong>LinkedIn</strong> profile.<br>
            All my contact data, work experience and skills related to web development are in that site.<br>
            <br>
            Cheers!
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
    </mat-card-actions>
</mat-card>
