div.container {
    width: 80%;
    margin: 3% auto 5%;
    position: relative;

    & .spinner {
        
        margin: 20% auto;

        ::ng-deep circle {
            stroke: #b68200;
        }
    }

    & .no-characters-card {
        margin-top: 15%;
        padding: 40px;
        text-align: center;
    }
}
